<h1>Đỗ Huy Hoàng - 2021050781</h1>
<div class="w3-container w3-green">
  <h2>EMPLOYEE FORM</h2>
</div>

<form asp-action="Index" class="w3-container">

  <label>EmployeeID</label>
  <input name="EmployeeID" class="w3-input" type="text">

  <label>Age</label>
  <input name="Age" class="w3-input" type="text">


  <button class="w3-btn w3-green w3-right">Send Data</button>

</form>
<h2>@ViewBag.noti</h2>