<h1>Đỗ Huy Hoàng - 2021050781</h1>
<div class="w3-container w3-green">
  <h2>PERSON FORM</h2>
</div>

<form asp-action="Index" class="w3-container">

  <label>PersonID</label>
  <input name="PersonID" class="w3-input" type="text">

  <label>FullName</label>
  <input name="FullName" class="w3-input" type="text">
  <button class="w3-btn w3-green w3-right">Send Data</button>

</form>
<h2>@ViewBag.noti</h2>